:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f2f4;
  color: #6c4669;
  line-height: 1.5;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.form-section {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: #f3d7e8;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.search-input {
  height: 100%;
  width: 100%;
  display: block;
  outline: none;
  border-radius: 20px;
  border: none;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
  margin-left: -30px;
  outline: none;
  background-color: #d19ebf;
  color: #fff;
  font-size: 20px;
}

.btn-search:hover {
  cursor: pointer;
  background-color: #b76b94;
}

.search-input:focus,
.btn-search:focus {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.gallery-section {
  margin-top: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 60px) / 4);
  text-decoration: none;
  color: #6c4669;
  min-height: 144px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform var(--animation-duration) var(--timing-function);
  overflow: hidden;
}

.gallery__item:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.img-container {
  aspect-ratio: 4/3;
  overflow: hidden;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.info-item {
  margin: 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px;
  gap: 10px;
  text-align: center;
  font-size: 12px;
}

.btn-container {
  text-align: center;
}

.load-more {
  background-color: #d19ebf;
  opacity: 80%;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.load-more:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #b76b94;
}

.btn-hidden {
  display: none;
}
